.levels {
    display: flex;
    flex-direction: column;
}

.levels button:first-child {
    margin-top: 3rem;
}

.levels button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.rules {
    margin: 2rem;
}

.rules button {
    width: 100%;
}

.rules h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

.rules ul {
    font-size: 1rem;
    text-align: left;
    color: #fff;
    margin-bottom: 2rem;
}

.rules li {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    list-style: none;
}

.rules .logo-play {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-play img {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.logo-play button {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.grid-full {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.grid-row {
    display: flex;
}

.grid-cell {
    display: flex;
    border: 0.1rem solid red;
    padding: 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    color: #000000;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.button-normal {
    background-color: blue !important;
}

.button-selected {
    background-color: red !important;
    color: white;
}

.disabled-cell {
    pointer-events: none;
}

.rotate360 {
    display: inline-block;
    animation: spin 2s linear;
    transform-origin: center center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}