.grid-full {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.grid-row {
    display: flex;
}

.grid-cell {
    display: flex;
    border: 0.1rem solid red;
    padding: 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    color: #000000;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.button-normal {
    background-color: blue !important;
}

.button-selected {
    background-color: red !important;
    color: white;
}

.disabled-cell {
    pointer-events: none;
}