.grid-full {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.grid-row {
    display: flex;
}

.grid-cell {
    display: flex;
    border: 0.1rem solid red;
    padding: 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    color: #000000;
}