.stop-button {
    display: flex;
}

.stop-button button {
    justify-content: flex-end;
    margin-left: auto;
}

.win-lose {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.win-lose .pink {
    color: #FF00DD;
    font-weight: bold;
}

.win-lose .red {
    color: red;
    font-weight: bold;
}

.win-lose p {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
}

.win-lose button {
    width: 100%;
}

.square-icon {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #fff;
}

.info .time {
    margin-left: auto;
}

.levels {
    display: flex;
    flex-direction: column;
}

.levels button:first-child {
    margin-top: 3rem;
}

.levels button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.rules {
    margin: 2rem;
}

.rules button {
    width: 100%;
}

.rules h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

.rules ul {
    font-size: 1rem;
    text-align: left;
    color: #fff;
    margin-bottom: 2rem;
}

.rules li {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    list-style: none;
}

.rules .logo-play {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-play img {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.logo-play button {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.grid-full {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.grid-row {
    display: flex;
    justify-content: center;
}

.grid-cell {
    display: flex;
    border: 0.1rem solid red;
    padding: 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    color: #fff;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.select-nb {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.select-nb .number {
    font-weight: bold;
    font-size: 0.85rem;
}

.select-nb .quantity {
    color: #ccc;
    font-weight: normal;
    font-size: 0.65rem;
}

.select-nb button {
    padding: 0.5rem;
    width: 1rem;
    display: flex;
    flex-direction: column;
}

.select-nb .button-selected {
    background-color: black !important;
    border: 0.15rem solid var(--chakra-colors-pink-500) !important;
    color: white;
}

.disabled-cell {
    pointer-events: none;
}

.rotate360 {
    display: inline-block;
    animation: spin 2s linear;
    transform-origin: center center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}